* {
  border: 1px solid gray;
  border-color: black;
}

/* Setting variables */
:root {
  --div-height: 50px;
}

body {
  background: blanchedalmond;
}

/* setting div heights and widths when screen is larger */
@media (min-width: 800px) {
  .container {
    display: flex;
    min-height: var(--div-height);
    flex-wrap: wrap; 
  }

  .a {
     min-height: var(--a-div-height);
     width: 100%;
  }
  
  .b {
    min-height: var(--b-div-height);
    flex-grow: 4;
  }
  
  .c {
    min-height: var(--c-div-height);
    flex-grow: 1;
  }
}

/* setting div heights and widths when screen is smaller */
@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .a {
    min-height: var(--div-height);
    flex-grow: 1;
  }
  
  .b {
    min-height: var(--div-height);
    flex-grow: 2;
  }
  
  .c {
    min-height: var(--div-height);
    flex-grow: 1;
  }
}