* {
  border: 1px solid gray;
  border-color: black;
}

/* Setting variables */
:root {
  --div-height-small: 50px;
  --div-height-large: 150px;
}

body {
  background: blanchedalmond;
}

/* Large screen settings */
@media (min-width: 800px) {
  .container {
    display: flex;
    flex-wrap: wrap; 
  }

  .a {
     min-height: 50px;
     width: 100%;
  }
  
  .b {
    min-height: var(--div-height-large);
    flex-grow: 4;
  }
  
  .c {
    min-height: var(--div-height-large);
    flex-grow: 1;
  }
}

/* Small screen settings */
@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  
  .a {
    min-height: var(--div-height-small);
    flex-grow: 1;
  }
  
  .b {
    min-height: var(--div-height-small);
    flex-grow: 2;
  }
  
  .c {
    min-height: var(--div-height-small);
    flex-grow: 1;
  }
}